/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-page, .register-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('/images/ton_image.jpg'); Remplace "ton_image.jpg" par le nom de ton fichier image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  z-index: 1; /* Assure-toi que ton contenu est visible au-dessus de l'image */
  background-color: rgba(255, 255, 255, 0.8); /* Optionnel: fond blanc semi-transparent pour le formulaire */
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px; /* Limite la largeur du formulaire */
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* Pour les messages d'erreur */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Pour les champs de saisie */
input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* styles.css */

/* Custom style for the selected day */
.MuiPickersDay-root.Mui-selected {
  background-color: #4CAF50 !important; /* Green background */
  color: #ffffff !important; /* White text color */
}

/* Custom hover style for the selected day */
.MuiPickersDay-root.Mui-selected:hover {
  background-color: #45a049 !important; /* Darker green on hover */
}



